<!-- string interpolation -->
<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>

<!-- property binding -->
<div [hidden]="hideRooms">
  <h4>Number of Rooms:</h4>
  <div [ngStyle]="{'color' : rooms.availableRooms ? 'steelblue' : 'red'}"
  [innerHTML]="noOfRooms"></div>
</div>

<!-- Null collision operator -->
{{ rooms?.availableRooms ?? 'No Rooms' }}

<!-- {{roomList | json }} -->

<!-- Displaying list of available rooms using ngif only when there
are rooms available (Optional chaining
) -->
<div *ngIf="selectedRoom">
  {{ selectedRoom |json }}

</div>
<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
 <hinv-rooms-list [rooms]="roomList" [title]="title"
 (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- Event binding -->
<div>
  <button class="button" (click)="toggle()">show/hide rooms</button>
</div>
