<!-- string interpolation -->
<h1>Welcome to {{hotelName}}</h1>

<!-- property binding -->
<div [hidden]="hideRooms">
  <h4>Number of Rooms:</h4>
  <div [ngStyle]="{'color' : rooms.availableRooms ? 'steelblue' : 'red'}"
  [innerHTML]="noOfRooms"></div>
</div>

<!-- Null collision operator -->
{{ rooms?.availableRooms ?? 'No Rooms' }}

<!-- {{roomList | json }} -->

<!-- Displaying list of available rooms using ngif only when there
are rooms available (Optional chaining
) -->
<div *ngIf="selectedRoom">
  {{ selectedRoom |json }}

</div>
<div>
  <button (click)="addRoom()">Add Room</button>
</div>



<!-- Event binding -->
<button class="button" (click)="toggle()">show/hide rooms</button>
