<!-- string interpolation -->
<h1>Welcome to {{hotelName}}</h1>

<!-- property binding -->
<div [hidden]="hideRooms">
  <h4>Number of Rooms:</h4>
  <div [innerHTML]="noOfRooms"></div>
</div>

<!-- Null collision operator -->
{{ rooms?.availableRooms ?? 'No Rooms' }}

<!-- Displaying list of available rooms using ngif only when there
are rooms available (Optional chaining
) -->
<div *ngIf="rooms?.availableRooms">
 <h3> Available rooms list:</h3>
</div>

<!-- Event binding -->
<button (click)="toggle()">show/hide rooms</button>
